
#map {
	position: absolute;
	top: 0%;
	height: 100%;

	left: 0px;
	right: 350px;
	background-color: black;
}

#overview {
	position: absolute;
	top: 0%;
	height: 100%;

	right: 0px;
	width: 350px;
	background-color: white;
	
	overflow-y: auto;
}


.layerselection {
	padding: 5px 4px;
}



.layer_control {
	position: relative;
	margin: 5px;
	background-color: black;
}

.layer_control_button {
	position: absolute;
	padding: 3px;
	background-color: white;
	border: 1px solid #999999;
	border-radius: 5px;
	color: black;
}
.layer_control_close {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: center;
}

.layer_control_minimap {
	width: 100%;
	height: 160px;
	background-color: #777777;
	position: relative;
}

.layer_control_minimap img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.layer_control_name {
	position: absolute;
	top: 5px;
	left: 5px;
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.layer_control_showinnewtab {
	position: absolute;
	bottom: 5px;
	left: 5px;
}