.chartbg {
	fill: transparent;
}

.container {
	fill: white;
}

.chart {
	font: 10px sans-serif;
}

.bar rect {
	fill: steelblue;
	shape-rendering: crispEdges;
}

.lines rect {
	fill: #ff0000;
	shape-rendering: crispEdges;
}

.lines text {
	fill : #ff0000;
}

.bar text {
	fill: #fff;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* taken from http://bl.ocks.org/Caged/6476579*/ 

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
