.chartbg {
	fill: transparent;
}

.linechart {
	font: 10px sans-serif;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}

.grid path {
	stroke-width: 0;
}