.wizzard {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.wizzard .searchPart {
	/* layout */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 350px;
	/* color */
	background: #F5F5F5;
	border-right: 5px solid #A9A9A9;
	color: #303030;
}

.wizzard .search {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 345px;
	margin-right: 5px;
	bottom: 180px;
}

.wizzard .searchPart strong {
	font-weight: bold;
}

.wizzard hr {
	color: gray;
	border: 1px solid #DCDCDC;
	background-color: none;
	margin: 0px 0px;
}

.wizzard .searchPart input,.wizzard .searchPart select,.wizzard .searchPart option,.wizzard .searchPart button
	{
	color: #000;
}

.wizzard button {
	padding: 5px;
}

.wizzard .searchPart .general .time label {
	width: 50px;
	text-align: right;
	margin-right: 10px;
	float: left;
}

.wizzard .searchPart .general .location input {
	margin-left: 10px;
	margin-right: 10px;
}

.wizzard .searchPart .general .time input {
	width: 150px;
}

.wizzard .datasetPart {
	/* layout */
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 350px;
    right: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	/* color */
	box-shadow: +10px 0 50px -10px #000000;
}

.wizzard .searchBox {
	padding: 10px;
}

.wizzard .display-none {
	display: none;
}

.wizzard .searchPart .search {
	/* layout */
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 5px;
}

.wizzard .search .searchButton {
	margin-left: 2%;
	width: 96%;
}

.wizzard .traits .traits td {
	padding: 0px 5px;
}

.wizzard .traits .traits td:first-child {
	padding-left: 0px;
	padding-right: 5px;
}

.wizzard .traits .traits td:last-child {
	padding-left: 5px;
	padding-right: 0px;
}

.wizzard .mapPart {
	position: absolute;
    left: 0px;
    bottom: 0px;
	height: 180px;
	width: 345px;
	margin-right: 5px;
}

.wizzard .datasetPart {
	padding: 5px;
}

.wizzard .datasetPart .datasourceSelection,
.wizzard .datasetPart .datasourceSelectionLabel {
	margin-left: 15px;
}

.wizzard .datasetPart .addPointsToMap {
	float: right;
	clear: right;
}

.wizzard .datasetPart .activeFilters td {
	padding: 0px 5px;
}

.wizzard .datasetPart .activeFilters td:first-child {
	padding-left: 0px;
	padding-right: 5px;
}

.wizzard .datasetPart .activeFilters td:last-child {
	padding-left: 5px;
	padding-right: 5px;
}

.wizzard .datasetPart .activeFilters tr:nth-child(odd) {
  background-color: #EFEFEF;
}

.wizzard .datasetPart .activeFilters tr:nth-child(even) {
  background-color: #DFDFDF;
}

/************/
/* HCOLUMNS */
/************/
/* column view container */
.hcolumns.column-view-container {
    width: 100%;
    height: 400px;
    padding: 0;
    border: 1px solid #ccc;
    background: #FFF;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

/* the composition div for colums */
.hcolumns .column-view-composition {
    display: table;
    white-space: nowrap;
}

/**/
.hcolumns .column {
    display: table-cell;
    border-right: 1px solid #999;
}

.hcolumns .column:last-child {
    border-right: 0;
}

.hcolumns .column:only-child {
    border-right: 1px solid #999;
}

/* for error messages */
.hcolumns .column > p {
    margin: 10px;
    color: #666;
}

/* for column listing */
.hcolumns .column ul {
    margin: 0;
    padding: 0;
    height: 400px;
    width: 250px;
    overflow-y: auto;
    list-style: none;
}

.hcolumns .column ul li {
    position: relative;
    margin: 0;
    padding: 10px 20px 10px 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    text-overflow: ellipsis; /* pour le reste du monde */
}

.hcolumns .column ul li:hover {
    cursor: pointer;
}

.hcolumns .column ul li i {
    position: absolute;
    top: 9px;
    right: 5px;
}

.hcolumns .column ul li:hover, .column ul li.active {
    background: #999999;
    color: #FFFFFF;
}

.hcolumns .column ul li:hover a, .column ul li.active a {
    color: #FFFFFF;
}

.hcolumns .column ul li.search {
    margin: 0;
    padding: 5px;
}

.hcolumns .column ul li.search input {
    width: 100%;
    margin: 0;
}


/* icon type, could be replace with FontAwesome */
.hcolumns [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    font-family: 'FontAwesome';
}

.hcolumns .icon-chevron-right:before {
    content: "\f054";
}

.hcolumns .icon-globe:before {
    content: "\f0ac";
}

.hcolumns .icon-file:before {
    content: "\f15b";
}

.ui-dialog-titlebar {
	background-color: #e6e6e6;
	color : black;
	border-color: #c6c6c6;
}

.ui-autocomplete .ui-menu-item a.ui-state-focus {
	border-radius: 1px;
    border: 1px solid rgb(130, 130, 130);
    background-color: #d6d6d6;
    color: #555;
}

.datasourceSelectionLabel {
	border-radius: 1px;
    color: #333;
    background-color: #E9967A !important;
    border: 1px solid rgb(230, 230, 230);
}

.datasourceSelectionLabel.ui-state-focus {
	border: 1px solid rgb(200, 200, 200);
}

.datasourceSelectionLabel:hover {
	border: 1px solid rgb(130, 130, 130);
}

.datasourceSelectionLabel.ui-state-active {
	background-color: #90EE90 !important;
}
