
.win_addoperator_plus, .win_addoperator_minus {
	float: right;
	padding: 3px;
	border: 1px solid #444444;
	border-radius: 2px;
	margin-left: 5px;
	cursor: pointer;
}

.win_addoperator_sourcewidget {
	float: left;
	margin-right: 5px;
}
