.project
.cproject
.settings
*.tmp.*
_*
datasources
*.o
*.cl.h

# compiled binaries
mapping/mapping_manager
mapping/mapping_manager.san
mapping/r_server
mapping/gtest
mapping/tileserver
mapping/cache_index
mapping/cache_node
mapping/cache_experiments
mapping/cluster_experiment

# machine specific configuration
mapping/Makefile.local

# generated documentation
docs/waveDoc/*
htdocs/doc/wave/*
docs/mappingDoc/*
htdocs/doc/mapping/*
