.loginform_container.gfbio {
    width: 670px;
    top: 160px;
    
}

.gfbio h1 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.gfbio .loginform {
	text-align: center;
}

.gfbio .loginform label {
    margin-right: 10px;    
}

.gfbio .loginform .login {
    width: 100px;
}

.gfbio_logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.gfbio_funded {
    text-align: right;
}

.dfg_logo {
    width: 100px;
}

.gfbio_screencasts {
	margin: 10px 0px;
}

.gfbio_google_video_iframe {
	float: left;
	margin: 5px;
}